<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if title %}{{ title }}{% endif %} | {{ site.siteName }}</title>
    <meta name="description" content="{{ site.siteDescription }}" />
    <meta name="author" content="{{ site.authorName }}" />
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">{{ site.siteName }}</a>
      </div>
      <nav>
        <ul class="main-nav" role="list">
          {% for nav in navigation %}
          <li class="nav-item">
            <a href="{{ nav.url }}">{{ nav.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main>
      <div class="wrapper grid">
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </div>
    </main>
    <footer><div class="wrapper grid">@ Forma Povera {% year %}</div></footer>
  </body>
</html>
